<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta485</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="navbar">
        <div>
            <a href="/" class="logo-container">
                <img class="logo" src="/images/logo.png" alt="Logo">
            </a>
            <a href="/" class="logo">Insta485</a>
        </div>
        <div>
            <a href="/explore/">explore |</a>
            <p>{{logname}}</p>
        </div>
    </div>

    <form action="/accounts/" method="post" enctype="multipart/form-data">
        <input type="submit" name="delete" value="confirm delete account"/>
        <input type="hidden" name="operation" value="delete"/>
    </form>
</body>
</html>