<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta485</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="navbar">
        <div>
            <a href="/" class="logo-container">
                <img class="logo" src="/images/logo.png" alt="Logo">
            </a>
            <a href="/" class="logo">Insta485</a>
        </div>
        <div>
            <a href="/explore/">explore |</a>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
    </div>

    <!-- DO NOT CHANGE THIS -->
    <form action="/accounts/edit" method="post"
        enctype="multipart/form-data">
        <label for="old_password">Old password</label>
        <input type="password" name="password" id="old_password" required />
        
        <label for="new_password1">New password</label>
        <input type="password" name="new_password1" id="new_password1" required />
        
        <label for="new_password2">New password, again</label>
        <input type="password" name="new_password2" id="new_password2" required />
        
        <input type="submit" name="update_password" value="submit" />
        <input type="hidden" name="operation" value="update_password" />
    </form>

    <a href="/accounts/edit/" style="text-decoration: none; font-weight: 
    bold; color: black;">Back to edit account</a>

</body>

</html>
